<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0,minimum-scale=1.0">
	<title>Choco Framework</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/choco.css">
	<script defer src="bundle.js"></script>
</head>
<body>	
	{{nombre = a}}
	<template id="main">
		<p>{{nombre}}</p>
		<p>{{nombre}}</p>
		<p>{{nombre}}</p>
		<p>{{nombre}}</p>
	</template>
	sss
</body>
</html>